@model PortalAboutEverything.Models.Movie.MovieFeedbackViewModel

@section Style {
			<link rel="stylesheet" href="/css/Movie/movieStyle.css" />
}

<div>
	Оцените фильм
</div>
<div>
	<form action="/Movie/ShowFeedback" method="post">
		<div>
			<input type="text" name="MovieName" placeholder="Название фильма"/>
		</div>
		<div>
			@foreach (var rate in Model.AvailableRate)
			{
				<label>Оценка @rate
					<input type="radio" name="rate" value="@rate"/>
				</label>
			}
		</div>
		<div>
			<textarea name="comment"></textarea>
		</div>
		<div>
			<input type="submit" value="Отправить отзыв"/>
			<input type="reset" value="Очистить"/>
		</div>
		<div>
			<label>
				<input type="checkbox" name="subscribe" value ="true"> Подписаться на новости
			</label>
		</div>
	</form>
</div>