.movie {
    border: 1px solid black;
    border-radius: 5px;
    max-width: max-content;
    padding: 10px;
    margin: 3px;
}

.movieDescription {
    max-width: 300px;
    overflow-y: auto;
}

.movieName {
    background: #e6e6dec9;
    border-radius: 5px;
    padding: 5px;
    margin: 8px;
}

.movies {
    display: flex;
    flex-wrap: wrap;
}

.review-container {
    display: none;
}

.movie.active {
    border: 3px solid red;
}

.movie.active .movieName {
    background: #ffa007;
}

.review {
    padding: 5px;
    margin: 8px;
    border: 1px solid black;
    border-radius: 5px;
}

.deleteMovie {
    display: none;
}

.deleteMovie {
    cursor: pointer;
    color: red;
}

.dateReview {
    text-align: right;
}

.movieImage {
    max-width: 150px;
    max-height: 200px
}

.movieStatisticsTable {
    border: 3px solid #000;
    margin-bottom: 20px;
    font-size: small;
    width: max-content;
    border-radius: 0.5rem;
}

.movieColumnsName {
    display: flex;
}

.movieContent {
    display: flex;
}

.cell {
    padding: 5px;
    border: 1px solid black;
    width: 200px;
    height: auto;
    align-content: center;
}

.cellHeader {
    padding: 5px;
    border: 1px solid black;
    width: 200px;
    height: auto;
    align-content: center;
    font-style: italic;
    font-weight: 500;
}

.delete {
    color: red;
    text-align: right;
    font-size: small;
    cursor: pointer;
}

.update {
    color: green;
    text-align: right;
    font-size: small;
    cursor: pointer;
}

.sendReview {
    cursor: pointer;
}

.method {
    border: 1px solid black;
}

.spell {
    color: red;
    font-style: italic;
}

.useOfSpell {
    color: green;
}

.favoriteMovies {
    margin-top: 15px;
    display: inline-block;
}

.favoriteMovie {
    border-left: 4px solid #f407ff;
    padding: 10px;
    background: #f6d3fa;
    margin-bottom: 15px;
}

.listOfMovies {
    font-weight: 700;
    font-size: large;
}

.notifications {
    border: 3px solid black;
    border-radius: 0.5rem;
    width: 40%;
    margin-bottom: 20px;
}

.notif {
    font-weight: 700;
    font-size: large;
}

.actions-container {
    border: 3px solid black;
    border-radius: 0.5rem;
    display: flex;
    width: 50%;
    margin-bottom: 20px;
    justify-content: center;
    align-items: center;
}

.action {
    padding: 20px;
    border: 3px solid black;
    width: 50%;
    height: auto;
    align-content: center;
    background-image: url(/images/Movie//background.jpg);
    background-size: cover;
}

.create-link {
    color: #e4e4e4;
    text-decoration: solid;
}

.moviesFan-link {
    color: #e4e4e4;
    text-decoration: solid;
}

.methods-link {
    color: #e4e4e4;
    text-decoration: solid;
}
