@model PortalAboutEverything.Models.Home.IndexViewModel

@section Scripts {
    <script src="https://cdnjs.cloudflare.com/ajax/libs/microsoft-signalr/6.0.1/signalr.js"></script>
    <script src="/js/Home/chat.js"></script>
}

<div>
    Привет <span class="user-name">@Model.UserName. У нас @Model.ChatMessageCount</span>
</div>
<div>
    <img src="@Model.KittyUrl" style="max-width: 100px" />
</div>
<div>
    <input type="hidden" name="userName" value="@Model.UserName" />
    <h1>Chat</h1>
    <div class="chat-containter">
        <div class="messages">
        </div>
        <div>
            <input class="new-message-text" />
            <button class="new-message-button">Send</button>
        </div>
    </div>
</div>